# appveyor integration for kiibohd/configurator

image: Visual Studio 2015


# Environment Variables
environment:
  PACKAGE_NAME: kiibohd-configurator
  GH_TOKEN:
      secure: vsCcKfR71BF5WWBmtzNzowpU96iPjuF3cD7yBdEySG0ku2svWAJRgdSj9je/He35
  matrix:
    - platform: x86
      PACKAGE_OS: win32
      nodejs_version: "10"
      ARCH: ia32
    - platform: x64
      PACKAGE_OS: win32
      nodejs_version: "10"
      ARCH: x64


configuration:
  - Release

cache:
  - node_modules

# Commands run before cloning git repo
init:
  - git config --global core.autocrlf true

install:
#  # Directory tree to validate configurator.git
#  - Tree /F

  # Get version of node.js
  - ps: Install-Product node $env:nodejs_version
  - npm --version
  - yarn --version

  # Install electron and dependencies
#  - yarn global add node-pre-gyp
  - yarn
  - yarn rebuild-deps


# Build Commands
build_script:
  # Build electron binary
  - yarn dist --%ARCH% --publish onTagOrDraft

## Deployment Artifacts
#artifacts:
#  - path: output\%PACKAGE-NAME%-*.zip
#    name: zip-file
#
#  -path
#
#
## Deployment (tagged releases only)
#deploy:
#  # GitHub Releases
#  - provider: GitHub
#    auth_token:
#      secure: vsCcKfR71BF5WWBmtzNzowpU96iPjuF3cD7yBdEySG0ku2svWAJRgdSj9je/He35
#    draft: true
#    prerelease: true
#    description: 'Electron-based UI for configuring programmable keyboards designed by Input Club'
#    artifact: build_artifact
#    # Conditions for uploading release
#    on:
#      appveyor_repo_tag: true


## Post Build Commands
#on_finish:
#  - cd output
#  - Tree /F

